*{
    margin: 0;
    padding: 0;
}

.card{
    color: #d59969;
    padding-top: 1vh;
    padding-left: 5vw;
}
#head{
    padding: 0vw 0vw 0vw 5vw;
}
.card{
    padding: 1vw 0vw 0.5vw 5vw; 
    font-size: 1.2rem;
}
.price{
    padding: 0vw 0vw 0vw 5vw;;
}
.a-card{
    text-decoration: none;
    color: #d59969;
}
.foot{
    margin-top: 15vh;
    margin-bottom: 0;
}