{% include 'index.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'book.css' %}">
<div id="book-tit">
    Book Your Seat Now
</div>
<form action="" method="POST" id="here">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" class="frm-btn">
    <input type="reset" value="Reset" class="frm-btn">
    {% if submitted %}
    <br>
    <br>
    <div id="suc">Thank You For Chosing Us</div>
    {% else %}
    <br><br>
    <div id="msg">
        We haven't resieved your details <br>
        Try booking on another date or on another time slot <br>
        <b>time format [for "1.00PM" enter "1" , [hh]] <br>
            date format [mm/dd/yyyy] <br>
        </b>
    </div>
    {% endif %}
</form>
{% include 'footer.html' %}